services:
    kafka1:
        image: apache/kafka:3.9.1
        container_name: toy-kafka1
        hostname: kafka1.toy
        ports:
            - 9092:9093
        environment:
            - KAFKA_NODE_ID=1
            - KAFKA_PROCESS_ROLES=broker,controller
            - KAFKA_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_HOST://:9093,CONTROLLER://:9094
            - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka1.toy:9092,PLAINTEXT_HOST://localhost:9092
            - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
            - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka1.toy:9094
            - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
            - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
            - KAFKA_NUM_PARTITIONS=1
        volumes:
            # Logs.
            - ./logs/kafka1/:/opt/kafka/logs/
            # Data.
            - ./data/kafka1/:/tmp/kafka-logs/

    kafka-ui:
        image: provectuslabs/kafka-ui:v0.7.2
        container_name: toy-kafka-ui
        hostname: kafka-ui.toy
        ports:
            - 8080:8080
        environment:
            - DYNAMIC_CONFIG_ENABLED=true
        volumes:
            # Config.
            - ./kafka-ui.yaml:/etc/kafkaui/dynamic_config.yaml
